.visually-hidden {
    display: none;
}
.welcome {
    background: url('../img/social.jpg') #161618 no-repeat;
    background-size: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 8px black;
}
.welcome .hero {
    margin: 50px auto 10px;
}
.welcome .hero h1 {
    font-weight: 600;
}
.welcome .form {
    margin: 50px auto;
}
.welcome .form_login, .welcome .form_register {
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 8px;
    padding: 30px;
}
.welcome .form h2{
    margin: 0 0 30px;
}
.posts, .message {
    margin-bottom: 60px;
}
.posts .nav, .message .nav {
    background: black;
    margin-bottom: 50px;
}
.posts .nav li, .message .nav li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
}
.posts .btn {
    margin-right: 15px;
}
.posts .post-delete{
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    background: #fbfbfb;
    color: #424242;
    transform: translate(-50%);
    z-index: 100;
    padding: 90px;
    box-shadow: 1px 1px 10px black;
}
.posts .user-info {
    min-height: 200px;
    background-color: #000000;
    border-radius: 14px;
    color: #ffffff;
}
.posts .user-info p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.posts .user-info_ico {
    margin: 10px auto;
    width: 50%;
    display: block;
}
.message .message_item {
    padding: 20px;
    background-color: rgb(83, 170, 228);
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 1px 1px 1px black;
}
.message .friend-info_item {
    margin-bottom: 30px;
}
.message .friend-info_ico {
    width: 100%;
    max-width:200px;
}
.message .friends-info input {
    display: none;
}
.message .friend-info_item label {
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.message .friend-info_item label:hover {
    opacity: 0.6;
}
.message .show-msg {
    min-height: 200px;
    margin-top: 5px;
}
.message .message-form form {
    margin-bottom: 20px;
}